<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav><a href="/">Home page </a></nav>
  
    <!-- <form action="/cars/<%=car.id %>?method=PUT" method="post"> -->
   <form action="/cars/<%= car._id %>?_method=PUT" method="POST">
    <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%=car.name%>"/>
    </div>
        
     <div>
    <label for="description">description:</label>
    <input type="text" name="description" id="description" value="<%=car.description%>" />
    </div>

    <div>
      <label for="price">price</label>
      <input type="number" name="price" id="price" value="<%=car.price%>"/>
    </div>
    <input type="submit" value="update car">
    </form>

 
</body>
</html>