<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><a href="/">Home page </a></nav>
    <h1><%=car.name%></h1>

    <ul>
    <li>Description : <%=car.description %></li>
<li>Price : <%=car.price %>$</li>
    </ul>
    <a href="/cars/<%=car.id%>/edit">Edit </a>
    
    <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delte">
    </form>
</body>
</html>